body
{
    background-image: url("https://amackenzie14.files.wordpress.com/2010/08/book-pliers-flashlight20still20life20copy1.jpg");
    position: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 80%;
    width: 100%;
    padding-bottom: 50px;
}
.container2
{
    background-color: aliceblue;
    text-align: center;
    height: 100px;
    width: 100%;
    margin: 100%;
    margin-top: -55px;
    margin-left: -7px;
    opacity: 0.50;
    position: fixed;
}
ul
{
    list-style-type: none;
    color: black;
}
.Nav
{
    margin-top: -100px;
    margin-left: 25px;
    font-size: large;
    text-align: left;
    font-family: fantasy;
}
#head
{
    text-decoration: aliceblue;
    text-decoration: underline;
    text-align: center;
    font-size: xx-large;
    font-family: 'Ravi Prakash', cursive;
    margin-top: 55px;
}
.anchor
{
    color: black;
}
.anchor::hover
{
    color: black;
    text-decoration: overline;
}
#list
{
    padding-top: 50px;
    height: 95%;
    width: 15%;
    position: fixed;
    background-color: dimgray;
    margin-top: 45px;
    margin-left: -10px;
    opacity: .70;
    text-align: center;
}
#content
{
 height:90%;
 width: 200%;
 margin-top: 65px;
 margin-left: 200px;
 position: absolute;
 text-align: center;
}
#one{
    width:200%;
    height:350px;
    margin-top:20px;
}
#cover{
    height:350px;
    width:200px;
}